<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xieyunjie.programmer.dao.home.FavoriteDao">
	<!-- 收藏插入操作 -->
	<insert id="add" parameterType="com.xieyunjie.programmer.entity.home.Favorite">
		insert into favorite(id,productId,userId,name,imageUrl,price,createTime) values(null,#{productId},#{userId},#{name},#{imageUrl},#{price},#{createTime})
	</insert>
	<!-- 收藏信息搜索查询 -->
	<select id="findList" parameterType="Map" resultType="com.xieyunjie.programmer.entity.home.Favorite">
		select * from favorite where 1 = 1 
		<if test="userId != null">
			and userId = #{userId}  
		</if>
		<if test="orderBy != null and sort != null">
			order by ${orderBy} ${sort}   
		</if>
		<if test="offset != null and pageSize != null">
			limit #{offset},#{pageSize}
		</if>
	</select>
	<!-- 模糊搜索总条数 -->
	<select id="getTotal" parameterType="Map" resultType="Integer">
		select count(*) from favorite where 1 = 1 
		<if test="userId != null">
			and userId = #{userId}  
		</if>
	</select>
	<!-- 根据id查询 -->
	<select id="findById" parameterType="Long" resultType="com.xieyunjie.programmer.entity.home.Favorite">
		select * from favorite where id = #{value}
	</select>
	<!-- 根据userid和productid查询 -->
	<select id="findByIds" parameterType="Map" resultType="com.xieyunjie.programmer.entity.home.Favorite">
		select * from favorite where userId = #{userId} and productId = #{productId}
	</select>
	<!-- 删除收藏信息 -->
	<delete id="delete" parameterType="String">
		delete from favorite where id in(${value})
	</delete>
</mapper>